body{
	background-color: lightblue;

}
body .head{
	height: 100px;
	background-color: blue;
}
body .head a{
	text-decoration: none;
	color: black;
	background-color: green;
	font-family: arial;
	border: 1px solid black;
	line-height: 30px;
	margin: auto;
	padding: 10px;
	border-radius: 4px;
}
body table{
	color: #666;
	
	background: #eaebec;
	border: #ccc 1px solid;
}
body a{
	text-decoration: none;
	color: black;
	background-color: red;
	font-family: arial;
	border: 1px solid black;
	line-height: 30px;
	margin: auto;
	padding: 10px;
	border-radius: 4px;

}